@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import 'leaflet/dist/leaflet.css';

@theme {
  --color-customBlack: #121212;
  --color-customGray: #949494;
  --font-custom: 'Mulish', sans-serif;
  --color-customBlue: rgb(2, 75, 222);
}

body {
  font-family: var(--font-custom);
}

@layer utilities {
  .bg-customBlack {
    background-color: var(--color-customBlack);
  }
  .text-customBlack {
    color: var(--color-customBlack);
  }
  .hover:bg-customblack:hover {
    background-color: var(--color-customBlack);
  }
  .hover:text-customblack:hover {
    color: var(--color-customBlack);
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .modal-success {
   width: 100%;
   height: 100%;
   background-color: white;
  }
  .text-xxs {
    font-size: 0.55rem; /* Adjust size as needed */
    line-height: 0.85rem;
  }
}
/*  */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}


.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Webkit browsers (Chrome, Safari, Edge) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Optional: Hide scrollbar for Firefox */
.scrollbar-hide {
  scrollbar-width: none;
}
